.nav-wrapper {
    background-color:#a5a5a5;
    box-shadow: 14px
}

a#save {
    margin-left: 10px;
}

.card-action a {
    color: black !important;
}
body {
    background-image: url("../images/stardust.png");
}

.delete-button {
    margin-left: 10px;
}
